<div
  class="relative h-[80vh] w-[45vw] min-w-96 overflow-hidden rounded-xl border-2 border-white"
>
  <div class="absolute left-0 top-0 h-full w-full">
    <app-image-information
      [zIndex]="20"
      [bredInfo]="dogInformationList[currentDisplayIndex]?.breeds?.[0]"
      [imageUrl]="dogInformationList[currentDisplayIndex]?.url"
      [event]="voteEvent"
      (action)="handleUpdateData($event)"
    ></app-image-information>
  </div>

  <app-image-information
    [bredInfo]="dogInformationList[currentDisplayIndex + 1]?.breeds?.[0]"
    [imageUrl]="dogInformationList[currentDisplayIndex + 1]?.url"
  ></app-image-information>

  <p-button
    (onClick)="onClickVote('dislike')"
    class="absolute bottom-10 left-5 z-20"
    icon="pi pi-times"
    severity="danger"
    size="large"
  />
  <p-button
    (onClick)="onClickVote('like')"
    class="absolute bottom-10 right-5 z-20"
    icon="pi pi-heart-fill"
    severity="success"
    size="large"
  />
</div>
