<div class="h-[80vh] w-[45vw] overflow-hidden rounded-xl border-2 border-white">
  <section class="relative h-full w-full">
    <img
      (panstart)="onPanStart($event)"
      (panmove)="onPanMove($event)"
      (panend)="onPanEnd($event)"
      #swipeBox
      [draggable]="false"
      src="{{ dogInformation[0]?.url }}"
      class="h-full w-full object-cover"
      alt="dog"
    />
    <div
      class="absolute bottom-0 flex h-fit w-full items-center justify-between bg-gray-700/60 p-10"
    >
      <p-button icon="pi pi-times" severity="danger" size="large" />
      <span class="z-10 grid text-center text-white">
        <span class="text-3xl font-bold">{{
          dogInformation[0]?.breeds?.[0]?.name ?? "Name"
        }}</span>
        <span>{{
          dogInformation[0]?.breeds?.[0]?.bred_for ?? "Bred For"
        }}</span>
      </span>
      <p-button icon="pi pi-heart-fill" severity="success" size="large" />
    </div>
  </section>
</div>
